/*
File: app.component.scss
Author: Sánta Renáta Diána
Copyright: 2022, Sánta Renáta Diána
Group: Szoft II N
Date: 2022-12-26
Github: https://github.com/SantaRenata/
Licenc: GNU GPL
*/

h2{
    text-decoration: underline;
}

ul{
    background-color:bisque;
}
